.navbar-default{background:#093750 !important;border:none !important}.navbar-default .navbar-nav>li>a{color:#abc0ca !important}.navbar-default .navbar-nav>li>a:hover{color:#03a4fb !important}.navbar-default .navbar-nav>li>a:focus{color:#03a4fb !important}.navbar-default .navbar-brand{color:#abc0ca !important}.footer-content{text-align:center;padding:0.5em}body{background-color:#022335 !important;font-family:"Fira Mono" !important;color:#abc0ca !important}.page-stuff a{color:#03a4fb !important;text-decoration:none}.page-stuff a:hover{color:#03a4fb !important;text-decoration:none !important;border-bottom:1px dotted #03a4fb;padding-bottom:0.5em}#page-content{padding-bottom:4em}.page-stuff{padding-top:2em;padding-bottom:5em}.jumbotron{background:#093750 !important}a{color:#03a4fb;text-decoration:none}a:hover{color:#03a4fb !important;text-decoration:none !important;border-bottom:1px dotted #03a4fb}.post p{padding-top:1.5em}.post-list{text-align:center}.post-box{padding-top:2em;padding-bottom:2em}.post-title{font-size:20px !important;color:#abc0ca !important}.post-excerpt{color:white !important;padding-top:0.5em;padding-bottom:0.3em}.post-title-main{text-align:center;color:#ffffff !important}.post-content{font-size:15px;text-align:justify;padding-bottom:2em;margin-bottom:2em;color:#ffffff !important}.post-content img{margin-bottom:1em;margin-top:1em}pre{background-color:black !important;border:none !important;border-radius:0px !important;font-size:15px !important;padding:10px !important;color:white !important}.post-meta{color:skyblue !important}code{background-color:black !important;color:white !important;border:none !important;border-radius:0px !important}.page-tagline{font-size:20px;text-align:center}.download{padding:2em;font-size:19px}.intro{font-size:19px}.manual-title{font-size:21px;padding:1em;text-transform:uppercase}.manual-content{text-align:justify;font-size:19px}.man-title{font-size:22px;text-align:center;padding:1em;letter-spacing:2px}.jumbotron{box-shadow:0px 1px 10px 0px rgba(0,0,0,0.15);color:#ffffff !important}.navbar{box-shadow:0px 1px 10px 0px rgba(0,0,0,0.15)}.comments{margin-top:2em}.highlight{background:black}.highlighter-rouge .highlight{background:black !important;color:#fff !important}.highlight .c{color:#998;font-style:italic}.highlight .err{color:#a61717;background-color:#e3d2d2}.highlight .k{font-weight:bold}.highlight .o{font-weight:bold}.highlight .cm{color:#998;font-style:italic}.highlight .cp{color:#999;font-weight:bold}.highlight .c1{color:#998;font-style:italic}.highlight .cs{color:#999;font-weight:bold;font-style:italic}.highlight .gd{background-color:#fdd}.highlight .gd .x{background-color:#faa}.highlight .ge{font-style:italic}.highlight .gr{color:#a00}.highlight .gh{color:#999}.highlight .gi{background-color:#dfd}.highlight .gi .x{background-color:#afa}.highlight .go{color:#888}.highlight .gp{color:#555}.highlight .gs{font-weight:bold}.highlight .gu{color:#aaa}.highlight .gt{color:#a00}.highlight .kc{font-weight:bold}.highlight .kd{font-weight:bold}.highlight .kp{font-weight:bold}.highlight .kr{font-weight:bold}.highlight .kt{color:#458;font-weight:bold}.highlight .m{color:#099}.highlight .s{color:#d14}.highlight .na{color:teal}.highlight .nb{color:#0086B3}.highlight .nc{color:#458;font-weight:bold}.highlight .no{color:teal}.highlight .ni{color:purple}.highlight .ne{color:#900;font-weight:bold}.highlight .nf{color:#900;font-weight:bold}.highlight .nn{color:#555}.highlight .nt{color:navy}.highlight .nv{color:teal}.highlight .ow{font-weight:bold}.highlight .w{color:#bbb}.highlight .mf{color:#099}.highlight .mh{color:#099}.highlight .mi{color:#099}.highlight .mo{color:#099}.highlight .sb{color:#d14}.highlight .sc{color:#d14}.highlight .sd{color:#d14}.highlight .s2{color:#d14}.highlight .se{color:#d14}.highlight .sh{color:#d14}.highlight .si{color:#d14}.highlight .sx{color:#d14}.highlight .sr{color:#009926}.highlight .s1{color:#d14}.highlight .ss{color:#990073}.highlight .bp{color:#999}.highlight .vc{color:teal}.highlight .vg{color:teal}.highlight .vi{color:teal}.highlight .il{color:#099}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
    background-color: #093750;
    text-align: center;
    font-style: italic;
    font-family: 'Fira Mono';
    color: #ffffff;
}

.button {
    background-color: #093750;
    border: 2px solid red;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Fira Mono';
}

/* fira-mono-regular - latin */
@font-face {
    font-family: 'Fira Mono';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/fira-mono-v9-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''), url('/fonts/fira-mono-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/fira-mono-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/fira-mono-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('/fonts/fira-mono-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/fira-mono-v9-latin-regular.svg#FiraMono') format('svg'); /* Legacy iOS */
}

.navbar-fixed-bottom {
    margin-bottom: 0;
    bottom: 0;
    position: fixed;
    right: 0;
    left: 0;
}
